{% extends "layouts/layout.index.html" %}
{% block content %}

<section class="slider container-fluid d-flex align-items-center justify-content-center">
    <div class="col-5 d-flex justify-content-end" id="slide-image">
        <img class="col-10" src="assets/img/slider-images/drink-cans.png" alt="">
    </div>
    <div class="slide-text col-5">
        <h3>Nutracell Multivitaminli</h3>
        <h1>Sağlıklı ve <span>Lezzetli!</span></h1>
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam<br> nonumy eirmod  tempor invidunt ut labore et dolore magna aliquyam</p>
        <div class="buttons">
            <a href="#!">Mağazamızdan Sipariş Ver</a>
            <a href="#!">Ürün Hakkında</a>
        </div>
    </div>
</section>
<section class="explore">
    <div>
        <h1>Keşfet</h1>
        <svg xmlns="http://www.w3.org/2000/svg" width="10.485" height="6.242" viewBox="0 0 10.485 6.242">
            <path id="angle-down" d="M12,15.121a1,1,0,0,1-.707-.293L7.05,10.586A1,1,0,0,1,8.464,9.172L12,12.707l3.536-3.535a1,1,0,0,1,1.414,1.414l-4.243,4.242A1,1,0,0,1,12,15.121Z" transform="translate(-6.757 -8.879)"/>
        </svg>
    </div>
    <div id="leaves"></div>
    <div id="orange"></div>
    <div class="content container d-flex flex-column">
        <img src="assets/img/svg/nutracell-logo.svg" alt="">
        <h1>Hakkında</h1>
        <p class="text-center">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd </p>
    </div>
</section>
<section class="product-info">
    <div></div>
    <div>
        <img src="assets/img/backgrounds/" alt="">
    </div>
</section>





{% endblock %}
