{% extends "layouts/layout.index.html" %}
{% block content %}

<section class="slider container-fluid  align-items-center justify-content-center">
    <div id="slider" >
        {% for slide in slider %}
        <div class="d-flex flex-column flex-md-row align-items-center justify-content-center">
            <div class="col-8 col-sm-5 d-flex justify-content-end" id="slide-image">
                <img class="col-12 col-md-10" src="assets/img/slider-images/{{slide.image}}" alt="">
            </div>
            <div class="slide-text justify-content-center col-10 col-md-5">
                <h3 class="text-center text-md-left">{{slide.title1}}</h3>
                <h1 class="text-center text-md-left">{{slide.title2}}</h1>
                <p class="text-center text-md-left">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam<br> nonumy eirmod  tempor invidunt ut labore et dolore magna aliquyam</p>
                <div class="buttons d-flex flex-column flex-sm-row justify-content-center justify-content-md-start">
                    <a href="https://iciniz.com/" class="text-center">Sipariş Ver</a>
                    <a href="#!" class="text-center">{{slide.aboutproduct}}</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

</section>

<section id="aboutus" class="explore">
    <div>
        <h1>Keşfet</h1>
        <svg xmlns="http://www.w3.org/2000/svg" width="10.485" height="6.242" viewBox="0 0 10.485 6.242">
            <path id="angle-down" d="M12,15.121a1,1,0,0,1-.707-.293L7.05,10.586A1,1,0,0,1,8.464,9.172L12,12.707l3.536-3.535a1,1,0,0,1,1.414,1.414l-4.243,4.242A1,1,0,0,1,12,15.121Z" transform="translate(-6.757 -8.879)"/>
        </svg>
    </div>
    <div class="background-images" id="leaves"></div>
    <div class="background-images" id="orange"></div>
    <div  class="content container d-flex flex-column">
        <img src="assets/img/svg/nutracell-logo.svg" alt="">
        <h1>Hakkında</h1>
        <p class="text-center"><strong>Nutracell, senin yaşam tarzına uygun bir şekilde seni
            desteklemesi ve yenilemesi için üretildi!</strong><br><br>
            Spor yaparken ya da günlük hayatta dengeli beslenmek pek
            mümkün olmuyor. Günlük almamız gereken vitamin ve mineralleri
            doğru ve yeterli oranda alamıyoruz. Ya almamız gereken değerleri
            bilmiyoruz ya da hesaplamak zor geliyor. <br><br>
            Nutracell ürünleri, kullandığı yüksek teknolojiler sayesinde, ihtiyacın
            olan vitamin ve mineralleri sana optimum takviyeyi sağlamak için
            tasarlandı. Üstelik ürünlerimiz şeker içermiyor! <br><br>
            <strong>Ürünlerimizde kullandığımız teknolojiler:</strong></p>
    </div>
</section>

{% for products in product_info%}
<section id="{{products.id}}" class="product-info d-flex container-fluid container-md align-items-center align-items-lg-start flex-column-reverse {{products.rotation}}">
    <div class="left-side d-flex flex-column">
        <img class="{{products.self_rotation}}" src="assets/img/svg/nutracell-logo.svg" alt="">
        <h1 class="{{products.title_rotation}}">{{products.title}}</h1>
        <p class="{{products.text_rotation}}">{{products.content}}</p>
        <div class="d-flex justify-content-between align-items-center">
            <h1>Besin Değeri</h1>
            <div class="d-flex align-items-center">
                <span>100 ML</span>
                <h2 class="second-text">330ml(Kutu Boyutu)</h2>
            </div>
        </div>
        <div class="product-values row justify-content-center justify-content-lg-start {{products.rotation}}">
            {% for value in product_values %}
            <div class="d-flex align-items-center ">
                <img src="assets/img/svg/product-images/{{value.image}}.svg" alt="">
                <div>
                    <p>{{value.text}}</p>
                    <p>{{value.value}}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="right-side ">
        <img src="assets/img/backgrounds/{{products.image}}.png" alt="">
    </div>
</section>
<section class="tables container ">
    <h1 class="{{products.text_rotation}}">Vitaminler Tablosu</h1>
    <table>
        {% for tableitems in products.vitamins %}
        <tr>
            <td>{{tableitems.text}}</td>
            <td>{{tableitems.value1}}</td>
            <td>{{tableitems.value2}}</td>
        </tr>
        {% endfor %}
    </table>


    <h1 class="{{products.text_rotation}}">Mineraller</h1>
    <table>
        {% for tableitems in products.minerals %}
        <tr>
            <td>{{tableitems.text}}</td>
            <td>{{tableitems.value1}}</td>
            <td>{{tableitems.value2}}</td>
        </tr>
        {% endfor %}
    </table>
    <span>* Değerler ortalama bir yetişkin referans alım düzeyini belirtir(2000kcal / 8700kj)</span>

</section>
{% endfor %}

<section class="video" id="uretim">
    <iframe src="https://www.youtube.com/embed/JadP617xccM" id="ytplayer" color="white" frameborder="0" showinfo  allow="accelerometer; autoplay; gyroscope;" allowfullscreen></iframe>
    <div class="video_cover flex-column">
        <div class="play_button">
            <img src="assets/img/svg/play-button.svg" alt="">
        </div>
        <div class="text">
            <p>Nutracell Sağlıklı Fonksiyonel<br>
                İçecekler Nasıl Üretiliyor?</p>
        </div>
        <div class="watch_button_main">
            <div class="watch_now">Hemen Videomuzu İzle</div>
        </div>
    </div>
</section>

<div class="benefits_main">
    <img class="benefits-images" style="position: absolute; width: 350px; bottom: -70px;" src="assets/img/carnitinbenefits.png"/>
    <div class="benefits_title_main ">
        <div class="benefits_title d-flex" style="">
            <span></span>
            <div class="title_text">
                <h3>Bilgilenelim</h3>
                <h1>L-Carnitin Yararları</h1>
            </div>
        </div>
    </div>
    <div class="benefits_content" style="">
        <p class="benefits_text" style="">Karnitin, genellikle karaciğer ve böbreklerde sentezlenen, lizin ve metiyonin amino asitlerinden sentezlenen bir dördüncül amonyum katyonudur. Canlı hücrelerde yağların sindirimi sırasında, enerji üretimi için yağ asitlerinin stoplazmadan mitokondriye girmesinde karnitine ihtiyaç duyulur.</p>
    </div>
</div>
<div class="second_benefits_main">
    <div class="second_benefits_title_main d-flex justify-content-end">
        <div class="second_benefits_title d-flex">
            <div class="second_title_text">
                <h3 class="text-right">Bilgilenelim</h3>
                <h1 class="text-right">Zerdeçal Yararları</h1>
            </div>
            <span></span>
        </div>
    </div>
    <div class="second_benefits_content" style="">
        <p class="second_benefits_text" style="">Zerdeçal
            Zerdeçal, eski çağlardan beri kullanılan şifalı bir baharattır. Yemeklere tat katmak dışında insan sağlığına sayısız faydaları vardır. Hindistan safranı olarak ta bilinen Zerdeçal, (Curcumin) besin değerleri bakımından oldukça zengindir: Bol miktarda potasyum, demir, manganez mineralleri, C vitamini ve B6 vitamini içerir. Zerdeçal günümüzde başta gıda endüstrisi olmak üzere pek çok alanda kullanılmaktadır. Cilt sağlığına faydaları nedeniyle kozmetik ürünlerine de eklenmektedir. Zerdeçal ayrıca mide ekşimesi, mide ağrısı, Crohn hastalığı, kabızlık, safra kesesi hastalığı, kolesterol ve bağırsak sendromu gibi rahatsızlıklara iyi gelmektedir.</p>
    </div>
    <img class="benefits-images" style="position: absolute; width: 350px; bottom:-70px;right: 0" src="assets/img/zerdecalbenefits.png"/>
</div>



<!--<section class="benefits ">
    <div class="benefits_main d-flex row">
        <div class="benefits_image col-12">
            <img class="" src="assets/img/carnitinbenefits.png" alt="">
        </div>
        <div class="benefits_content ">
            <div class="benefits_title d-flex">
                <span></span>
                <div class="title_text">
                    <h3>Bilgilenelim</h3>
                    <h1>L-Carnitin Yararları</h1>
                </div>
            </div>
            <div class="benefits_text">
                <p>Karnitin, genellikle karaciğer ve böbreklerde sentezlenen, lizin ve metiyonin amino asitlerinden sentezlenen bir dördüncül amonyum katyonudur. Canlı hücrelerde yağların sindirimi sırasında, enerji üretimi için yağ asitlerinin stoplazmadan mitokondriye girmesinde karnitine ihtiyaç duyulur.</p>
            </div>
        </div>
    </div>
</section>-->

{% include 'partials/page-footer.html' %}




{% endblock %}
