{% extends "layouts/layout.index.html" %}
{% block content %}
<section class="slider container-fluid  align-items-center justify-content-center">
    <div id="slider" >
        {% for slide in slider %}
        <div class="d-flex flex-column flex-md-row align-items-center justify-content-center">
            <div class="col-8 col-sm-5 d-flex justify-content-center" id="slide-image">
                <img class="col-12 col-md-10" src="assets/img/slider-images/{{slide.image}}" style="{{slide.imgwidth}}"  alt="">
            </div>
            <div class="slide-text justify-content-center col-10 col-md-5">
                <h3 class="text-center text-md-left">{{slide.title1}}</h3>
                <h1 class="text-center text-md-left">{{slide.title2}}</h1>
                <p class="text-center text-md-left">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam<br> nonumy eirmod  tempor invidunt ut labore et dolore magna aliquyam</p>
                <div class="buttons d-flex flex-column flex-sm-row justify-content-center justify-content-md-start">
                    <a href="https://iciniz.com/" class="text-center">Sipariş Ver</a>
                    <a href="{{slide.href}}" class="text-center">{{slide.aboutproduct}}</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

</section>

<section id="aboutus" class="explore">
    <a href="#content">
        <h1>Keşfet</h1>
        <svg xmlns="http://www.w3.org/2000/svg" width="10.485" height="6.242" viewBox="0 0 10.485 6.242">
            <path id="angle-down" d="M12,15.121a1,1,0,0,1-.707-.293L7.05,10.586A1,1,0,0,1,8.464,9.172L12,12.707l3.536-3.535a1,1,0,0,1,1.414,1.414l-4.243,4.242A1,1,0,0,1,12,15.121Z" transform="translate(-6.757 -8.879)"/>
        </svg>
    </a>
    <div class="background-images" id="leaves"></div>
    <div class="background-images" id="orange"></div>
    <div id="content" class="content container d-flex flex-column">
        <img src="assets/img/svg/nutracell-logo.svg" alt="">
        <h1>Hakkında</h1>
        <p class="text-center"><strong>Nutracell, senin yaşam tarzına uygun bir şekilde seni
            desteklemesi ve yenilemesi için üretildi!</strong><br><br>
            Spor yaparken ya da günlük hayatta dengeli beslenmek pek
            mümkün olmuyor. Günlük almamız gereken vitamin ve mineralleri
            doğru ve yeterli oranda alamıyoruz. Ya almamız gereken değerleri
            bilmiyoruz ya da hesaplamak zor geliyor. <br><br>
            Nutracell ürünleri, kullandığı yüksek teknolojiler sayesinde, ihtiyacın
            olan vitamin ve mineralleri sana optimum takviyeyi sağlamak için
            tasarlandı. Üstelik ürünlerimiz şeker içermiyor! <br><br>
            <strong>Ürünlerimizde kullandığımız teknolojiler:</strong></p>
    </div>
</section>

{% for products in product_info%}
<section id="{{products.id}}" class="product-info d-flex container-fluid container-md align-items-center align-items-lg-start flex-column-reverse {{products.rotation}}">
    <div class="left-side d-flex flex-column">
        <img class="{{products.self_rotation}}" src="assets/img/svg/nutracell-logo.svg" alt="">
        <h1 class="{{products.title_rotation}}">{{products.title}}</h1>
        <p class="{{products.text_rotation}}">{{products.content}}</p>
        <div class="d-flex justify-content-between align-items-center">
            <h1>Besin Değeri</h1>
            <div class="d-flex align-items-center">
                <span>100 ML</span>
                <h2 class="second-text">330ml(Kutu Boyutu)</h2>
            </div>
        </div>
        <div class="product-values row justify-content-center justify-content-lg-start {{products.rotation}}">
            {% for value in product_values %}
            <div class="d-flex align-items-center ">
                <img src="assets/img/svg/product-images/{{value.image}}.svg" alt="">
                <div>
                    <p>{{value.text}}</p>
                    <p>{{value.value}}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="right-side ">
        <img src="assets/img/backgrounds/{{products.image}}.png" alt="">
    </div>
</section>
<section class="tables container ">
    <h1 class="{{products.text_rotation}}">Vitaminler Tablosu</h1>
    <table>
        {% for tableitems in products.vitamins %}
        <tr>
            <td>{{tableitems.text}}</td>
            <td>{{tableitems.value1}}</td>
            <td>{{tableitems.value2}}</td>
        </tr>
        {% endfor %}
    </table>


    <h1 class="{{products.text_rotation}}">Mineraller</h1>
    <table>
        {% for tableitems in products.minerals %}
        <tr>
            <td>{{tableitems.text}}</td>
            <td>{{tableitems.value1}}</td>
            <td>{{tableitems.value2}}</td>
        </tr>
        {% endfor %}
    </table>
    <span class="features-note">* Değerler ortalama bir yetişkin referans alım düzeyini belirtir(2000kcal / 8700kj)</span>

</section>
{% endfor %}

<section class="video" id="uretim">
    <iframe src="https://www.youtube.com/embed/JadP617xccM" id="ytplayer" color="white" frameborder="0" showinfo  allow="accelerometer; autoplay; gyroscope;" allowfullscreen></iframe>
    <div class="video_cover flex-column">
        <div class="play_button">
            <img src="assets/img/svg/play-button.svg" alt="">
        </div>
        <div class="text">
            <p>Nutracell Sağlıklı Fonksiyonel<br>
                İçecekler Nasıl Üretiliyor?</p>
        </div>
        <div class="watch_button_main">
            <div class="watch_now">Hemen Videomuzu İzle</div>
        </div>
    </div>
</section>

<div class="benefits_main">
    <img class="benefits-images" style="position: absolute; width: 350px; " src="assets/img/carnitinbenefits.png"/>
    <div class="benefits_title_main ">
        <div class="benefits_title d-flex" style="">
            <span></span>
            <div class="title_text">
                <h3>Bilgilenelim</h3>
                <h1>L-Carnitin Yararları</h1>
            </div>
        </div>
    </div>
    <div class="benefits_content" style="">
        <p class="benefits_text" style=""><strong style="font-weight: bold">Enerji üretiminde merkezi rol oynar.</strong> <br> + L-Karnitin, yağ asitlerini kandan mitokondriye taşır ve hücrelerde enerji üretir. Böylece yağ asitleri enerji olarak kullanılabilir.
            <br><strong style="font-weight: bold">Dayanıklılığın artırılmasına yardımcı olur.</strong><br> + Yorgunluğun birincil nedenlerinden biri olan laktik asit birikimini yavaşlatarak dayanıklılığın artırılmasına yardımcı olur.
            <br> <strong style="font-weight: bold">Zayıflamaya yardımcı olur.</strong> <br> + L-Karnitin, vücuttaki yağın hızlı bir biçimde yakılmasını sağlıyor. Bu da zayıflamaya yardımcı olmaktadır. Ancak LKarnitin'i tek başına almanın vücut ağırlığını düşürdüğünü söylemek mümkün değildir. Bazı çalışmalar uygun <strong style="font-weight: bold">diyet</strong> ve <strong style="font-weight: bold">egzersiz</strong> ile kombine edildiğinde l-karnitin kullanımının kilo kaybını arttırmada etkili bir yol olabileceğini göstermiştir. </p>
    </div>
</div>
<div class="second_benefits_main">
    <img class="benefits-images" style="position: absolute; width: 350px; bottom:-70px;right: 0" src="assets/img/zerdecalbenefits.png"/>
    <div class="second_benefits_title_main d-flex justify-content-end">
        <div class="second_benefits_title d-flex">
            <div class="second_title_text">
                <h3 class="text-right">Bilgilenelim</h3>
                <h1 class="text-right">Zerdeçal Yararları</h1>
            </div>
            <span></span>
        </div>
    </div>
    <div class="second_benefits_content" style="">
        <p class="second_benefits_text" style="">Zerdaçalın sağladığı yararlar bir çoğundan içindeki aktif madde kurkumin sorumludur. Zerdaçalın ağırlığının %3’ü kurkuminden oluşur. Vücudumuza fayda sağlayacak miktarda kurkumin alabilmek için çok fazla zerdeçal tüketmek gerekmektedir, bu da mümkün olmadığından kurkumin takviyesi almak mantıklı bir seçenek olarak gözükmektedir.

            <br><strong style="font-weight: bold">Güçlü antienflamatuar ve antioksidan özelliği vardır. <br>Antienflamatuar özellik:</strong> İltihap önleyici, yangı giderici.
            <br><strong style="font-weight: bold">Antioksidan özellik:</strong> Hücrelerde oksidatif hasara neden olan serbest radikallere karşı vücudu korur.</p>
    </div>
</div>



<!--<section class="benefits ">
    <div class="benefits_main d-flex row">
        <div class="benefits_image col-12">
            <img class="" src="assets/img/carnitinbenefits.png" alt="">
        </div>
        <div class="benefits_content ">
            <div class="benefits_title d-flex">
                <span></span>
                <div class="title_text">
                    <h3>Bilgilenelim</h3>
                    <h1>L-Carnitin Yararları</h1>
                </div>
            </div>
            <div class="benefits_text">
                <p>Karnitin, genellikle karaciğer ve böbreklerde sentezlenen, lizin ve metiyonin amino asitlerinden sentezlenen bir dördüncül amonyum katyonudur. Canlı hücrelerde yağların sindirimi sırasında, enerji üretimi için yağ asitlerinin stoplazmadan mitokondriye girmesinde karnitine ihtiyaç duyulur.</p>
            </div>
        </div>
    </div>
</section>-->

{% include 'partials/page-footer.html' %}




{% endblock %}
