<nav id="navbar">
    <div class="info d-flex justify-content-between align-items-center">
        <div class="d-flex align-items-center">
            <img src="assets/img/svg/mail.svg" alt="">
            <a href="mailto:info@nutracell.com">info@nutracell.com</a>
        </div>
        <div class="phone d-flex align-items-center">
            <img src="assets/img/svg/phone.svg" alt="">
            <div class="d-flex flex-column">
                <a href="tel:0850 799 22 33">0850 799 22 33</a>
                <a href="tel:0532 301 32 15">0532 301 32 15</a>
            </div>
        </div>
        <div class="">
            <a href="#!"><img src="assets/img/social-icons/facebook.svg" alt=""></a>
            <a href="#!"><img src="assets/img/social-icons/instagram.svg" alt=""></a>
        </div>
    </div>
    <hr>
    <div  class="navbar d-flex">
        <div class="logo">
        <a href="" class="w-100"><img src="assets/img/svg/nutracell-logo.svg" alt=""></a>
        </div>
        <div class="links d-none d-lg-flex">
            {% for navlinks in navbar%}
            <a href="{{navlinks.href}}" class="nav-active">
                <p>{{navlinks.text}}</p>
            </a>
            {% endfor %}
        </div>
        <div class="d-flex align-items-center">
            <a href="#!" class="buttons d-none d-sm-flex">
                <p>Satın Al</p>
                <svg xmlns="http://www.w3.org/2000/svg" width="10.485" height="6.242" viewBox="0 0 10.485 6.242">
                    <path id="angle-down" d="M12,15.121a1,1,0,0,1-.707-.293L7.05,10.586A1,1,0,0,1,8.464,9.172L12,12.707l3.536-3.535a1,1,0,0,1,1.414,1.414l-4.243,4.242A1,1,0,0,1,12,15.121Z" transform="translate(-6.757 -8.879)"/>
                </svg>
            </a>
            <div class="mobile-menu d-lg-none flex-column align-items-end d-flex">
                <span class="mobile-menu-items"></span>
                <span class="mobile-menu-items"></span>
            </div>
        </div>
    </div>
</nav>