<nav id="navbar" class="d-flex ">
    <div class="logo">
        <a href=""><img src="assets/img/svg/nutracell-logo.svg" alt=""></a>
    </div>
    <div class="links">
        {% for navlinks in navbar%}
        <a href="#!" class="nav-active">
            <p>{{navlinks.text}}</p>
        </a>
        {% endfor %}
    </div>
        <a href="#!" class="buttons">
            <p>Satın Al</p>
            <svg xmlns="http://www.w3.org/2000/svg" width="10.485" height="6.242" viewBox="0 0 10.485 6.242">
                <path id="angle-down" d="M12,15.121a1,1,0,0,1-.707-.293L7.05,10.586A1,1,0,0,1,8.464,9.172L12,12.707l3.536-3.535a1,1,0,0,1,1.414,1.414l-4.243,4.242A1,1,0,0,1,12,15.121Z" transform="translate(-6.757 -8.879)"/>
            </svg>
        </a>
</nav>