<nav id="navbar">
    <div class="info d-flex justify-content-between align-items-center">
        <div class="d-flex align-items-center">
            <img src="assets/img/svg/mail.svg" alt="">
            <a href="mailto:info@nutracell.com.tr">info@nutracell.com.tr</a>
        </div>
        <div class="">
            <a href="#!"><img src="assets/img/social-icons/facebook.svg" alt=""></a>
            <a href="#!"><img src="assets/img/social-icons/instagram.svg" alt=""></a>
        </div>
    </div>
    <hr>
    <div  class="navbar d-flex">
        <div class="logo">
        <a href="" class="w-100"><img src="assets/img/svg/nutracell-logo.svg" alt=""></a>
        </div>
        <div class="links">
            {% for navlinks in navbar%}
            <a href="{{navlinks.href}}" class="nav-active">
                <p>{{navlinks.text}}</p>
            </a>
            {% endfor %}
        </div>
        <div class="d-flex align-items-center">
            <a href="#!" class="buttons d-none d-sm-flex">
                <p>Satın Al</p>
            </a>
            <div class="mobile-menu d-lg-none flex-column align-items-end d-flex">
                <span class="mobile-menu-items"></span>
                <span class="mobile-menu-items"></span>
            </div>
        </div>
    </div>
</nav>