<footer class="d-flex flex-column align-items-center">
    <div class="d-flex">
        <div class="logo-and-socials">
            <img src="assets/img/svg/nutracell-logo.svg" alt="">
            <div>
                <img src="assets/img/social-icons/facebook.svg" alt="">
                <img src="assets/img/social-icons/instagram.svg" alt="">
            </div>
        </div>
        <div class="communication">
            <h1>İletişim</h1>
            <div class= "address d-flex">
                <img src="assets/img/svg/address.svg" alt="">
                <p>Esentepe Mh. Keskin Kalem Sk. No:41 Şişli/İstanbul</p>
            </div>
            <div class="mail d-flex">
                <img src="assets/img/svg/mail.svg" alt="">
                <a href="mailto:info@nutracell.com.tr">info@nutracell.com.tr</a>
            </div>
            <div class="phone d-flex">
                <img src="assets/img/svg/phone.svg" alt="">
                <div>
                    <a href="tel:0850 799 22 33">0850 799 22 33</a>
                    <a href="tel:0532 301 32 15">0532 301 32 15</a>
                </div>
            </div>
        </div>
        <div class="contracts">
            <h1>Sözleşmeler</h1>
            <a href="#!">Kullanıcı Sözleşmesi</a>
            <a href="#!">Gizlilik Sözleşmesi</a>
            <a href="#!">Çerez Politikası</a>
            <a href="#!">Aydınlatma Metni</a>
        </div>
        <div class="nutracell">
            <h1>Nutracell</h1>
            <a href="#!">Nutracell Zerdeçal</a>
            <a href="#!">Nutracell L-Karnitin</a>
            <a href="#!">Satın Al</a>
        </div>
        <div class="corporate">
            <h1>Kurumsal</h1>
            <a href="#!">Hakkımızda</a>
            <a href="#!">Toplu Satın Al</a>
            <a href="#!">Bayi Başvurusu</a>
        </div>
    </div>
    <p>Developed By Codeck</p>
    <div class="reserved">
        <p>Tüm Hakları Saklıdır. 2020 Nutracell</p>
    </div>
</footer>
