
section.about-us
  box-shadow: -4px 5px 10px #888888
  padding: 50px 100px
  border-radius: 20px
  position: relative
  top: -60px
  z-index: 1
  background-color: #ffffff
  p
    font-family: $primary-font
    line-height: 30px

  h1
    font-family: $primary-font
    text-align: center
    font-size: 40px
    font-weight: bold
    margin-bottom: 30px