#leaves
  background-image: url("../../assets/img/backgrounds/leaves.png")
  background-size: cover
  position: absolute

#orange
  background-image: url("../../assets/img/backgrounds/orange.png")




section.slider
  margin: 100px 0

  .slide-text
    h3
      color: $standard-color
      font-family: $primary-font
      font-size: 30px
      font-weight: 600

    h1
      font-family: $primary-font
      color: $default-black
      font-size: 45px
      font-weight: 600
      span
        color: #73BA5E

    p
      color: #888888
      font-family: $primary-font
      margin: 10px 0
      font-size: 13px


    div.buttons
      margin-top: 30px
      a
        font-family: $primary-font
        padding: 15px 15px
        border-radius: 10px
        text-decoration: none
        color: $default-black
        border: 1px solid #E2E2E2
        font-weight: bold


        &:first-child
          background-color: $standard-color
          color: #fff


section.explore
  div
    display: flex
    align-items: center
    justify-content: center

    h1
      font-family: $primary-font
      font-weight: 600

    svg
      margin-left: 5px


div.content
  margin-top: 100px
  padding: 0 100px

  h1
    color: $default-black
    font-family: $primary-font
    font-size: 20px
    margin: 10px

  p
    font-family: $primary-font
    line-height: 30px