@media (max-width: 1080px)

  .navbar
    .links
      display: none!important


  section.slider
    .slide-text
      h3
        font-size: 20px
      h1
        font-size: 30px
      p
        font-size: 11px

      div.buttons
        a
          font-size: 11px

@media (max-width: 992px)
  section.product-info
    div.left-side
      padding: 0

    div.right-side
      img
        max-width: 250px


    div.product-values
      div
        margin: 0 15px 0 0

  section.tables
    padding: 0


@media (max-width: 768px)
  section.product-info
    padding: 0 30px
    div.left-side
      p
        padding: 0


@media (max-width: 576px)
  .navbar


@media (max-width: 480px)
  div.content
    padding: 0 50px


