@media (min-width: 1700px)
  div.slick-slide
    height: 700px!important


@media (min-width: 1300px)
  div.slick-slide
    height: 580px


@media (max-width: 1280px)
  p.second_benefits_text
    font-size: 12px

  p.benefits_text
    font-size: 12px

@media (max-width: 1180px)
  .benefits-images
    display: none



@media (max-width: 1080px)

  .navbar
    .links
      display: none !important


  section.slider
    .slide-text
      h3
        font-size: 20px

      h1
        font-size: 30px

      p
        font-size: 11px

      div.buttons
        a
          font-size: 11px

@media (max-width: 992px)
  .benefits
    text-align: center

    > .d-flex
      display: block !important
      padding: 30px 0
      margin: 30px 0

  section.product-info
    div.left-side
      padding: 0

    div.right-side
      img
        max-width: 250px


    div.product-values
      div
        margin: 0 15px 0 0

  div.slick-slide
    height: 350px

  section.tables
    padding: 0


@media (max-width: 768px)
  section.product-info
    padding: 0 30px

    div.left-side
      p
        padding: 0

      div
        padding-right: 0




@media (max-width: 578px)
  div.slick-slide
    height: 550px

@media (max-width: 480px)

  .second-text
    display: none

  div.content
    padding: 0 50px

  div.slick-slide
    height: 500px


  div.video_cover
    padding: 40px 0
    display: flex
    justify-content: center
    div.text
      align-self: center
      p
        font-size: 18px
        text-align: center

    div.watch_button_main
      display: flex
      justify-content: center
      div.watch_now
        font-size: 15px
        text-align: center
        padding: 15px
        width: 250px


    div.play_button
      align-self: center
      width: 73px
      img
        max-width: 20px

  #ytplayer
    height: 27vh!important


